<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Splitwise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
     <!-- The styles -->
    <link id="bs-css" href="{{ url_for('static', filename='css/bootstrap-cerulean.min.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/charisma-app.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.print.css')}}" rel='stylesheet' media='print'>
    <link href="{{ url_for('static', filename='bower_components/chosen/chosen.min.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/colorbox/example3/colorbox.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/responsive-tables/responsive-tables.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/jquery.noty.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/noty_theme_default.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/elfinder.min.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/elfinder.theme.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/jquery.iphone.toggle.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/uploadify.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/animate.min.css')}}" rel='stylesheet'>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/jquery.min.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}">

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

       <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="{{url_for('static',filename='img/logo20.png')}}" class="hidden-xs"/>
                <span>Splitwise</span></a>
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> {{session['user']}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="http://localhost:5000/getlogin?logout=yes">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                
                </li>
                
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="{{ url_for('loadindex')}}"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a class="ajax-link" href="{{ url_for('loadchart')}}""><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                        </li>
                        
                        <li><a class="ajax-link" href="{{ url_for('loadupdate')}}"><i class="glyphicon glyphicon-font"></i><span> Update expenses</span></a>
                        </li>
                      
                        <li class="nav-header hidden-md">Sample Section</li>
                        
                        <li><a class="ajax-link" href="{{ url_for('loadcalendar')}}"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                        </li>
                        <li><a href="{{ url_for('loadlogin')}}"><i class="glyphicon glyphicon-lock"></i><span> Login Page</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Charts</a>
        </li>
    </ul>
</div>

<div class="row">

    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-list-alt"></i> Chart with points</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <input type="text" value="{{session['list']}}" id="nihar">
                <div id="curve_chart" style="width: 900px; height: 500px"></div>

            </div>
        </div>
    </div>

    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-list-alt"></i> Flot</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="bar_chart" style="width: 900px; height: 500px"></div>
            </div>
        </div>
    </div>

    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-list-alt"></i>Expense details:</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
               <div id="table_div"></div>
            </div>
        </div>
    </div>

</div><!--/row-->


    

    
            

<!-- chart libraries start -->
<script src="{{ url_for('static', filename='bower_components/flot/excanvas.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/flot/jquery.flot.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/flot/jquery.flot.pie.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/flot/jquery.flot.stack.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/flot/jquery.flot.resize.js')}}"></script>
<!-- chart libraries end -->
<script src="{{ url_for('static', filename='js/init-chart.js')}}"></script>

    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    <!-- Ad, you can remove it -->
    <div class="row">
        <div class="col-md-9 col-lg-9 col-xs-9 hidden-xs">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Charisma Demo 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-5108790028230107"
                 data-ad-slot="3193373905"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 email-subscription-footer">
            <div class="mc_embed_signup">
                <form action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>

    </div>
    <!-- Ad ends -->

    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                >akabravo97</a></p>
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<!-- library for cookie management -->
<script src="{{ url_for('static', filename='js/jquery.cookie.js')}}"></script>
<!-- calender plugin -->
<script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.min.js')}}"></script>
<!-- data table plugin -->
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>

<!-- select or dropdown enhancer -->
<script src="{{ url_for('static', filename='bower_components/chosen/chosen.jquery.min.js')}}"></script>
<!-- plugin for gallery image view -->
<script src="{{ url_for('static', filename='bower_components/colorbox/jquery.colorbox-min.js')}}"></script>
<!-- notification plugin -->
<script src="{{ url_for('static', filename='js/jquery.noty.js')}}"></script>
<!-- library for making tables responsive -->
<script src="{{ url_for('static', filename='bower_components/responsive-tables/responsive-tables.js')}}"></script>
<!-- tour plugin -->
<script src="{{ url_for('static', filename='bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js')}}"></script>
<!-- star rating plugin -->
<script src="{{ url_for('static', filename='js/jquery.raty.min.js')}}"></script>
<!-- for iOS style toggle switch -->
<script src="{{ url_for('static', filename='js/jquery.iphone.toggle.js')}}"></script>
<!-- autogrowing textarea plugin -->
<script src="{{ url_for('static', filename='js/jquery.autogrow-textarea.js')}}"></script>
<!-- multiple file upload plugin -->
<script src="{{ url_for('static', filename='js/jquery.uploadify-3.1.min.js')}}"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="{{ url_for('static', filename='js/jquery.history.js')}}"></script>
<!-- application script for Charisma demo -->
<script src="{{ url_for('static', filename='js/charisma.js')}}"></script>



</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      var x=document.getElementById('nihar').value;
      console.log(x);
      x = eval("[" + x + "]");

      function drawChart() {
        var data = google.visualization.arrayToDataTable(x);
          ;

        var options = {
          title: 'Expense Graph',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
     <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var y=x;
        
        y[0]=["Date", "Amount",{ role: 'style' }];
        console.log(y);

        for(var i=1;i<y.length;i++)
            y[i].push('red');

        console.log(y);
       
        
      var data = google.visualization.arrayToDataTable(y);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Your daily spending:",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("bar_chart"));
      chart.draw(view, options);
  }
  </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Amount');
        
        for(var i=1;i<x.length;i++)
        {
            data.addRow([x[i][0],{v:x[i][1], f: 'Rs '+String(x[i][1])}]);

          /*['Kanishka',  {v: 12, f: 'Rs 12'}],*/
        }
          
        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>

</html>
