<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    }

.button1:hover {
    background-color: #4CAF50;
    color: white;
}   

    </style>
    <meta charset="utf-8">
    <title>Splitwise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="{{ url_for('static', filename='css/bootstrap-cerulean.min.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/charisma-app.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.print.css')}}" rel='stylesheet' media='print'>
    <link href="{{ url_for('static', filename='bower_components/chosen/chosen.min.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/colorbox/example3/colorbox.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/responsive-tables/responsive-tables.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/jquery.noty.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/noty_theme_default.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/elfinder.min.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/elfinder.theme.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/jquery.iphone.toggle.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/uploadify.css')}}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/animate.min.css')}}" rel='stylesheet'>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/jquery.min.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}">


</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="{{url_for('static',filename='img/logo20.png')}}" class="hidden-xs"/>
                <span>Splitwise</span></a>
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> {{session['user']}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="http://localhost:5000/getlogin?logout=yes">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="{{ url_for('loadindex')}}"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a class="ajax-link" href="{{ url_for('loadchart')}}""><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                        </li>
                        
                        </li>
                        <li><a class="ajax-link" href="{{ url_for('loadupdate')}}"><i class="glyphicon glyphicon-font"></i><span> Update expenses</span></a>
                        </li>
                      
                        <
                        <li><a class="ajax-link" href="{{ url_for('loadcalendar')}}"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                        </li>
                        <li><a href="{{ url_for('loadlogin')}}"><i class="glyphicon glyphicon-lock"></i><span> Login Page</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
    </div>

    <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i>Enter your expenses here: </h2>

        <div class="box-icon">
            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form action="http://localhost:5000/expense" method="POST">
        <td><input type="text" name="Name"></td>
        <td class="center"><input type="text" name="Date"></td>
        <td class="center"><input type="text" name="Comments"></td>
        <td class="center">
            <span class="label-success label label-default">Active</span>
        </td>
        <td class="center">
            <button class="button1" name="submit">Add</button>
        
        </td>
    </form>
    </tr>
    <tr>
    <form action="http://localhost:5000/expense" method="POST">
        <td><input type="text" name="Name"></td>
        <td class="center"><input type="text" name="Date"></td>
        <td class="center"><input type="text" name="Comments"></td>
        <td class="center">
            <span class="label-success label label-default">Active</span>
        </td>
        <td class="center">
            <button class="button1" name="submit">Add</button>
        
        </td>
    </form>    
    </tr>
    <tr>
        <form action="http://localhost:5000/expense" method="POST">
         <td><input type="text" name="Name"></td>
        <td class="center"><input type="text" name="Date"></td>
        <td class="center"><input type="text" name="Comments"></td>
        <td class="center">
            <span class="label-success label label-default">Active</span>
        </td>
        <td class="center">
            <button class="button1" name="submit">Add</button>
        
        </td>


    </form>
    </tr>

    <tr>
    {%  if session['message']  %}

    <center>  {{session['message']}}    </center>


    {%   endif  %} 

    </tr>
    
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->

    
    <
       
    

    <!-- Ad, you can remove it -->
    <div class="row">
        <div class="col-md-9 col-lg-9 col-xs-9 hidden-xs">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Charisma Demo 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-5108790028230107"
                 data-ad-slot="3193373905"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 email-subscription-footer">
            <div class="mc_embed_signup">
                <form action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>

    </div>
    <!-- Ad ends -->

    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        

        
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<!-- library for cookie management -->
<script src="{{ url_for('static', filename='js/jquery.cookie.js')}}"></script>
<!-- calender plugin -->
<script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.min.js')}}"></script>
<!-- data table plugin -->
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>

<!-- select or dropdown enhancer -->
<script src="{{ url_for('static', filename='bower_components/chosen/chosen.jquery.min.js')}}"></script>
<!-- plugin for gallery image view -->
<script src="{{ url_for('static', filename='bower_components/colorbox/jquery.colorbox-min.js')}}"></script>
<!-- notification plugin -->
<script src="{{ url_for('static', filename='js/jquery.noty.js')}}"></script>
<!-- library for making tables responsive -->
<script src="{{ url_for('static', filename='bower_components/responsive-tables/responsive-tables.js')}}"></script>
<!-- tour plugin -->
<script src="{{ url_for('static', filename='bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js')}}"></script>
<!-- star rating plugin -->
<script src="{{ url_for('static', filename='js/jquery.raty.min.js')}}"></script>
<!-- for iOS style toggle switch -->
<script src="{{ url_for('static', filename='js/jquery.iphone.toggle.js')}}"></script>
<!-- autogrowing textarea plugin -->
<script src="{{ url_for('static', filename='js/jquery.autogrow-textarea.js')}}"></script>
<!-- multiple file upload plugin -->
<script src="{{ url_for('static', filename='js/jquery.uploadify-3.1.min.js')}}"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="{{ url_for('static', filename='js/jquery.history.js')}}"></script>
<!-- application script for Charisma demo -->
<script src="{{ url_for('static', filename='js/charisma.js')}}"></cript>


</body>
</html>
